<!doctype html>
<html>
<head>
  <%- include('../partials/head') %>
  <link href="https://unpkg.com/tabulator-tables@5.5.0/dist/css/tabulator.min.css" rel="stylesheet">
  <title>Employee</title>
</head>
<body>
<%- include('../partials/navbar') %>

<div class="container mt-4">
  <h2>Your Tasks</h2>
  <div id="employeeTasksTable"></div>
</div>

<!-- File preview modal -->
<div class="modal fade" id="filePreviewModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content p-3">
      <h5>Attachment Preview</h5>
      <iframe id="fileFrame" style="width:100%; height:500px; border:none;"></iframe>
    </div>
  </div>
</div>

<script src="https://unpkg.com/tabulator-tables@5.5.0/dist/js/tabulator.min.js"></script>
<script src="/public/js/employeeDashboard.js"></script>
</body>
</html>
